.data input, .message, .btn{
border: none;
height: 40px;
background-color:  Gainsboro;
width: 25%;
padding-left: 10px;
margin-right: 10px;
color: grey;
}

.nav li:nth-of-type(5) a{
	box-shadow: 0 0 10px #fff;
}

.message{
	height: 300px;
	width: 74%;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 260px;
}



main div{
	margin: 10px 50px;
}

.data{
	margin-left: 0;
}

main div p{
	display: inline-block;
	width: 40%;
}

@media(max-width: 768px){
	
	.contacts-content{
		margin: 10px 20px;
	}

	main div p{
		width: 100%;
	}

	.message, .btn{
		width: 99%
	}

	.data{
		margin-right: 0;
		display: flex;
		flex-wrap: wrap;
	}

	.data input{
		width: 32%;
		margin-right: 1%;

	}
}

@media(max-width: 430px){
	.data{
		flex-direction: column;
	}

	.data input{
		width: 100%;
		margin: 10px 0;
	}
}