body{
	margin: 0px;
	padding: 0px;
}

.page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header{
	
}

.header-content{
	height: 60%;
	position: relative;
	top: 20%;
	padding-left: 40px;
	padding-right: 40px;
}

a{
	font: inherit;
    color: inherit;
}

.logo{
	float: left;
	display: inline-block;
}

.logo-name{
	display: inline-block;
	font-size: 4em;
	color: #57b6de;
	font-weight: bolder;
	margin:0;
}

.logo-name a:hover{
	text-decoration: none;
	color: inherit;
}

.logo-slogan{
	display: inline-block;
	font-size: 2em;
}

.contacts{
	float: right;
	clear: right;
	vertical-align: middle;
}

header div span{
	display: inline-block;
	font-size: 16px;
	color: #777777;
}

.number span{
	font-size: 24px;
	margin-top: 10px;
	transition: all 0.2s linear;
	cursor: pointer;
}

.number span:hover, .f-text:hover{
	color: #57b6de;
}

.number svg{
	fill: #57b6de;
	height: 30px;
	position: relative;
	top: 5px;
}


.number{
	float: right;
	display: block;
	clear: right;
}

.after-number{
	float: right;
}

.f-text{
	color: #777777;
	font-size: 16px;
}




nav{
	width: 100%;
}

nav ul li a{
	color: #fff;
	font-weight: bolder;
}

footer{
	background-color: rgb(50,50,50);
	flex-grow: 3;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0px;
}

.navbar{
border-radius: 0px;
margin: 0;
padding-left: 30px;

}



footer div svg{
	width: 60px;
	height: 60px;
	fill: #57b6de;
	padding: 10px;
	background-color: rgb(70,70,70);
	border-radius: 3px;
}

.f-item{
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
}

footer div div span, footer p, hr{
	padding-left: 20px;
	color: #777777;
}

hr{
	position: relative;
	top: 10px;
}