body{
	margin: 0px;
	padding: 0px;
}

.page{
	display: flex;
	flex-direction: column;
}

header{
	height: 100px;
}

.header-content{
	height: 60%;
	position: relative;
	top: 20%;
	padding-left: 40px;
	padding-right: 40px;
}

a{
	font: inherit;
    color: inherit;
}

.logo{
	float: left;
	display: inline-block;
}

.logo-name{
	display: inline-block;
	font-size: 4em;
	color: #57b6de;
	font-weight: bolder;
	margin:0;
}

.logo-name a:hover{
	text-decoration: none;
	color: inherit;
}

.logo-slogan{
	display: inline-block;
	font-size: 2em;
}

.contacts{
	float: right;
	clear: right;
	vertical-align: middle;
}

header div span{
	display: inline-block;
	font-size: 1.5em;
	padding: 0px auto;
}


.number{
	float: right;
	display: block;
	clear: right;
}

.after-number{
	float: right;
}




nav{
	width: 100%;

}

nav ul li a{
	color: #fff;
}

footer{
	background-color: rgb(50,50,50);
	
	width: 100%;
	padding-left: 10%;
	margin: 0px;
}

.navbar{
border-radius: 0px;
margin: 0;

}

main{

	
}

.content-carousel{
	height: 400px;
}

.item img{
	height: 100%;
	width: 100%;
}

.content-blocks{
	height: 400px;
}

.content-blocks:after {
	content: " ";
	display: table;
	clear: both;
}

.content-blocks-row{
height: 380px;
padding: 10px 40px;
}

.block{
	height: 380px;
	width: 25%;
	float: left;
	padding: 20px;
}

.block1{
	background-color: #57aacd;
}

.block2{
	background-color: #55b0d6;
}

.block3{
	background-color: #5bb7de;
}

.block4{
	background-color: #62bfe6;
}

.content-blocks-svg{
	width: 50px;
	height: 50px;
	fill: #fff;
}

.content-blocks-svg svg{
	height: 100%;
}

footer div svg{
	width: 60px;
	height: 60px;
	fill: aqua;
	padding: 10px;
	background-color: rgb(70,70,70);
	border-radius: 3px;
}

.f-item{
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
}

footer div div span{
	padding-left: 20px;
	color: rgb(200,200,200);
}