body{
	margin: 0px;
	padding: 0px;
}

.body{
	padding: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

a{
	font: inherit;
    color: inherit;
}

.logo{
	float: left;
	display: inline-block;
	
}

.logo-name{
	display: inline-block;
	font-size: 4em;
	color: #57b6de;
	font-weight: bolder;
	


}

.logo-name a:hover{
	text-decoration: none;
	color: inherit;

}

.logo-slogan{
	display: inline-block;
	font-size: 2em;
}

.contacts{
	float: right;
	clear: right;
	vertical-align: middle;
}

header div span{
	display: inline-block;
	font-size: 1.5em;
	padding: 0px auto;
}


.number{
	float: right;
	display: block;
	clear: right;
}

.after-number{
	float: right;
}


.header{
	height: 70px;
	margin-left: 40px;
	margin-right: 40px;
}

nav{
	width: 100%;
}

nav ul li a{
	color: #fff;
}

footer{
	background-color: rgb(50,50,50);
	
	width: 100%;
	padding-left: 10%;
	margin: 0px;
}

.navbar{
border-radius: 0px;

}

main{
	
}

footer div svg{
	width: 60px;
	height: 60px;
	fill: aqua;
	padding: 10px;
	background-color: rgb(70,70,70);
	border-radius: 3px;
}

.f-item{
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
}

footer div div span{
	padding-left: 20px;
	color: rgb(200,200,200);
}